.ant-carousel .slick-slide img {
  width: 100% !important;}
.firstDiv{
  background-color: pink;
  color:white;
  text-align: center;
  font-weight:bold;
  font-size:larger;
  height:80px;
  padding :20px;
}